[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
djangorestframework = "==3.12"
pygments = "*"

[dev-packages]
autopep8 = "*"
pylint-django = "*"
ipython = {extras = ["notebook"], version = "*"}
django-extensions = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.6"
